.submissions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7f3f1;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 70px;
    min-height: 90vh;
}

.submissions form {
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

.submissions input {
    font-size: 20px;
    padding: 5px 10px;
    width: 100%;
    outline: none;
}

.submissions button {
    padding: 10px 15px;
    font-size: 30px;
    cursor: pointer;
    /* border: none; */
    outline: none;
}

.submissions .subs {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}