.navbar {
    background-color: rgba(0, 0, 0, 0.772);
    color: white;
    padding: 20px 0px;
}

.nav {
    display: flex;
    margin: 0 0 0% 10%;
    max-width: 1700px;
    justify-content: space-between;
}

.nav span {
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.nav_links {
    display: flex;
    gap: 40px;
}