.navbar {
    background-color: rgba(0, 0, 0, 0.772);
    color: white;
    padding: 20px 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.nav span {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav .logo span {
    font-size: 30px;
}

.nav_links {
    display: flex;
    gap: 20px;
}

.navbar .nav .nav_link {
    display: flex;
    gap: 10px;
}

.account {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.account a {
    padding: 0;
    margin: 0;
}