.navbar {
    background-color: rgba(0, 0, 0, 0.772);
    color: white;
    padding: 10px 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 20% 0 0;
    align-items: center;
}

.logo {
    display: flex;
    gap: 40px;
    align-items: center;
}

.githubLogo {
    font-size: 70px;
    transform: rotate(45deg);
}


.nav span {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav .logo span {
    font-size: 30px;
}

.nav_links {
    display: flex;
    gap: 20px;
}

.navbar .nav .nav_link {
    display: flex;
    gap: 10px;
}

.account {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.account a {
    padding: 0;
    margin: 0;
}